<div id="dashboard-support" class="container" ng-switch="vm.loading.value">
  <h2 class="section-title">Support</h2>

  <div class="row top-buffer-1 support-contacts">
    <div class="col-md-12">
      <div class="well">
        <h3>Support contacts</h3>

        <div class="row">
          <div class="col-md-2">
            <i class="fa fa-phone fa-3x"></i>
          </div>
          <div class="col-md-6">
            <h4>Phone</h4>
            <p>Need help using Business in One?</p>
            <p><strong>(02) 7903 5293</strong></p>
            <p>Mon-Fri 8am-6pm (Sydney/Melbourne time)</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <i class="fa fa-comment fa-3x"></i>
          </div>
          <div class="col-md-6">
            <h4>Live chat</h4>
            <p>How can we help you today? Join Business In One Live Chat</p>
            <p><button class="btn btn-warning" ng-click='vm.openChat()'>Start Live Chat</button></p>
            <p>Mon-Fri 8am-10pm (Sydney/Melbourne time)</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Contact a NAB Business Banker -->
  <div class="row top-buffer-1 business-banker">
    <div class="col-md-12">
      <div class="well">
        <h3>Contact a NAB Business Banker</h3>
        <div class="row">
          <div class="col-md-4 contact-card">
            <i class="fa fa-mobile fa-3x fa-fw"></i>
            <div class="large-text">13 10 12</div>
            <div>8am-8pm, or<br>9am-6pm Sat-Sun<br>(AEST/AEDT)</div>
          </div>
          <div class="col-md-4 contact-card">
            <a href="https://ols.nab.com.au/onlineforms/form/RequestACallBackBusinessBanking" target="_blank">
              <i class="fa fa-comment fa-3x fa-fw"></i>
              <div class="large-text">Request</div>
              <div class="medium-text">a call back</div>
            </a>
          </div>
          <div class="col-md-4 contact-card">
            <a href="https://www.nab.com.au/locations" target="_blank">
              <i class="fa fa-user fa-3x fa-fw"></i>
              <div class="large-text">Find your</div>
              <div class="medium-text">nearest NAB</div>
              <div class="medium-text">Business Banker</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>